@import 'https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300';

body {
  background-color: black;
  font-family: 'Baloo 2', cursive;
}

a {
  color: white;
  text-decoration: none;
  margin: 1rem auto;
  padding: 0rem 2rem;
}

.nav {
  
  background-color: #9F703A		;
  padding: 3rem 0;
  opacity: 0.7;
}

h1 {
  font-family: 'Permanent Marker', cursive;
  color: white;
  text-shadow: 0 0 1rem black;
}

 h2, h3, h4, h6, p {
  color: white
}




.header {
  min-height: 50vh;
  align-items: center;
  background-image: url(../src/images/cuttingboard.jpg);
  background-size: cover;
}


a:hover {
  color: lime;
}

.route-components {
  text-align: center;
}

.sizer {
  max-width: 60%;
  min-width: 60%;
}

.parallax-bg {
  background-image: url(../src/images/grubspacer.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.cards {
  background-color: white;
  background-image: url(../src/images/cuttingboard.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  align-items: center; 
}

.btn {
  line-height: 50px;
  height: 50px;
  text-align: center;
  width: 250px;
  cursor: pointer;
}

/* 
========================
      BUTTON ONE
========================
*/
.btn-one {
  color: #FFF;
  transition: all 0.3s;
  position: relative;
  opacity: 1;
}
.btn-one span {
  transition: all 0.3s;
}
.btn-one::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: rgba(255,255,255,0.5);
  border-bottom-color: rgba(255,255,255,0.5);
  transform: scale(0.1, 1);
}
.btn-one:hover span {
  letter-spacing: 2px;
}
.btn-one:hover::before {
  opacity: 1; 
  transform: scale(1, 1); 
}
.btn-one::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.3s;
  background-color: rgba(255,255,255,0.1);
}
.btn-one:hover::after {
  opacity: 0; 
  transform: scale(0.1, 1);
}
