.dog-picture {
    height: 20%;
    width: 30%;
    margin: 0 30%;
    padding: 5%;
    background-color: lightgrey;
    border: 1px solid black;
    border-radius: 15%;
}

.new-dog-button {
    width: 30%;
    height: 50px;
    margin: 5% 25%;
    background-color: tomato;
    border: 1px solid black;
    border-radius: 45%;
}