@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-family: 'Roboto Mono', monospace;  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  background-image: linear-gradient(to bottom right, #0F0F0F, #6A6A6A);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

h1 {
  font-size: 3rem;
  margin: 25px 0 50px;
  color: #FFF;
}

h2 {
  font-size: 2rem;
  color: #FFF;
}

h3 {
  font-size: 1.4rem;
}

p {
  color: #FFF;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  margin: 0 auto;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.minion-container {
  width: 90%;
  display: flex;
  justify-content: center;
}

.minion-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.minion-card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 200px;
  margin-bottom: 50px;
}

.minion-icon {
  margin-bottom: 10px;
}

.minion-name {
  text-transform: uppercase;
  width: 192px;
}

.minion-page {
  max-width: 650px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.minion-header {
  width: 100%;
  display: flex;
  align-items: flex-end;
  margin-bottom: 25px;
}

.minion-page-icon {
  width: 100px;
  margin-right: 20px;
}

.minion-page-name {
  text-transform: uppercase;
}

.minion-tooltip {
  font-size: 0.8rem;
  margin: 20px 0 50px 50px;
}

.fade-in {
  animation: fadeIn ease 1s;
  -webkit-animation: fadeIn ease 1s;
  -moz-animation: fadeIn ease 1s;
  -o-animation: fadeIn ease 1s;
  -ms-animation: fadeIn ease 1s;
}

@keyframes fadeIn{
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}