@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: white;
    scroll-behavior: smooth;
    font-family:'Lato', sans-serif;
}

body{
    background-color: #141414;
}
h1{
    margin-bottom: 50px; 
    text-align: center;
    font-size: 6rem;
}
h3{
    text-align: center;
    font-size: 1.5rem;
    border-bottom: 1px solid white;
    margin: 15px;
    padding-bottom: 10px;
}
span{
    font-weight: bold;
}
p{
    font-size: 1.2rem;
}
.App{
    margin: 0 auto;
}
.player-card{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 100px 0;
}
.card{
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('./card-bg.jpg');
    background-position:center;
    width: 20%;
    height: 400px;;
    line-height: 2;
    padding: 25px;
    margin: 20px;
    border: 1px solid white;
}

.bg {
    background: url('./bg.jpg');
    -moz-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    -o-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    -webkit-filter: grayscale(100%);
    filter: gray;
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
a{
    width: 200px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid gray;
    font-size: 1.2rem;
    text-decoration: none;
    cursor: pointer;
    background-color: black;
    color: white;
    transition: 0.4s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}
a:hover{
    background-color: #2e2e2e;
}