.App {
  /*text-align: center;*/
}

.main-header,
.loading-header {
  text-align: center;
  margin: 50px auto;
}

.joblist {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.job {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 2%;
}


