.App {
  /*text-align: center;*/
}

.main-header,
.loading-header {
  text-align: center;
  margin: 50px auto;
}

.joblist {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  padding: 1%;
}

.job {
  border: 1px solid lightgrey;
  padding: 5px 0 5px 15px;
  display: flex;
  flex-direction: column;
  width: 400px;
  height: auto;
  margin: 1%;
}

.job:hover {
  background-color: #f0ffff;
}
