body {
  margin: 0;
  background: #c0c0c0;
}
.header {
  width: 100%;
  height: 40px;
  display: flex;
  padding: 10px 0 10px 0;
  background-color: black;
  font-family: 'Roboto', sans-serif;
}
.header .search {
  width: 50%;
  display: flex;
  justify-content: left;
  align-items: center;
}
.header .search h1 {
  color: #ff9d42;
  margin-left: 10px;
}
.header .search form {
  padding: 0px 30px 0px 30px;
}
.header .search form input {
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}
.header .nav {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: left;
  flex-direction: row-reverse;
}
.header .nav a {
  width: 25%;
  color: #e3e3e3;
  padding: 0px;
  text-decoration: none;
  font-size: 20px;
}
.card-cont {
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.card-cont .card {
  height: 500px;
  padding: 20px;
  display: flex;
  width: 45%;
}
.card-cont .card .card-img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}
.card-cont .card .card-img img {
  height: 400px;
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.75);
  border: 2px solid black;
  border-radius: 5%;
}
.card-cont .card .card-info {
  background-color: white;
  box-shadow: -5px 0px 20px 0px rgba(0, 0, 0, 0.75);
  width: 50%;
  padding: 10px;
}
.card-cont .card .card-info h2 {
  font-weight: 1000;
}
@media (max-width: 600px) {
  .header {
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0 10px 0;
    background-color: black;
    font-family: 'Roboto', sans-serif;
  }
  .header .search {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .header .search h1 {
    color: #ff9d42;
    margin-left: 0px;
  }
  .header .search form {
    padding: 0px 30px 0px 30px;
  }
  .header .search form input {
    padding: 6px;
    border: none;
    margin-top: 5px;
    margin-right: 0px;
    font-size: 17px;
  }
  .header .nav {
    display: none;
  }
  .card-cont {
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
  }
  .card-cont .card {
    height: 500px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .card-cont .card .card-img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .card-cont .card .card-img img {
    height: 400px;
    box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.75);
    border: 2px solid black;
    border-radius: 5%;
  }
  .card-cont .card .card-info {
    background-color: white;
    display: none;
    box-shadow: -5px 0px 20px 0px rgba(0, 0, 0, 0.75);
    width: 100%;
    padding: 0px;
  }
  .card-cont .card .card-info h2 {
    font-weight: 1000;
  }
}
