.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.characterImg{
  display: block;
  margin: 0 auto;
  width: 25%;
}

.characterDesc{
  width: 70%;
  margin: 0 auto;
}

.characterAttrs{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;
  width: 30%;
  height: 200px;
  margin: 0 auto;
  text-align: center;
  padding: 3%;
}

.characterAttrs p{
  width: 45%;
  margin: 15px auto
}
