@import url('https://fonts.googleapis.com/css?family=Work+Sans&display=swap');

body {
  margin: 0
}

h1, p, a, button {
  font-family: 'Work Sans', sans-serif;
  font-size: 24px;
  color: #000;
}

h1 {
  font-size: 48px;
}

a {
  text-decoration: wavy underline;
}