
body {
  background-color: #47484a;
}
.main-page {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.recipe-div {
  display: flex;
  align-content: flex-start;
  width: 20rem;
  border-radius: 10px;
  margin: 2rem;
}
.recipe-container {
  display: flex;
  justify-content: center;
}


img {
  border-radius: 10px;
}

h4, a {
  margin-left: 2rem;
  color: whitesmoke;
}

h2 {
  margin-left: 4rem;
  font-size: 5rem;
  font-family: cursive;
}