@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,600&display=swap');

.container{
    width: 100%;
    margin:0 auto;
}

.text{
    width: 70%;
    display:flex;
    background-color: skyblue;
    border-radius: 10px;
    flex-direction: column;
    margin: 4% auto;
    font-size: 2rem;
    padding: 3%;
}

.text h3{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: black;
    font-family: 'Lora', serif;
}

.text h4{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: black;
}

button {
    margin-top:4% 0;
    width: 40%;
    height: 10vh;
}