/* .App {
  text-align: center;
} */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: cornflowerblue;
}

div.error {
  color: red;
}

.row {
  /* margin: 0 -5px; */
  display: flex;
  align-items: center;
  width: 600px;
}

.column {
  width: 100%;
}

.card {
  box-shadow: 0 4px 8px 0;
  padding: 1%;
  text-align: center;
} 