.App {
  background-image: url("pokemonBackground.jpg");
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.app .search {
  width: 100%;
}

.pokemon-card-container { 
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  width: 100%;
}

.pokemon-card {
  display: flex;
  justify-content: center;
  width: 20%;
  margin: 1% 0;
}

.pokemon-card .card-image {
  display: flex;
  justify-content: center;
  width: 100%;
}

.pokemon-card .card-image img {
    width: 90%;
}