body {
  background-image: url("pokemonBackground.jpg");
}

.App {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.app .search {
  width: 100%;
}

.pokemon-card-container { 
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  width: 100%;
}

.pokemon-card-container .loader { 
  position: absolute;
  top: 50%;
  left: 50%;
  width: 5%;
  margin:-60px 0 0 -60px;
  -webkit-animation:spin 4s linear infinite;
  -moz-animation:spin 4s linear infinite;
  animation:spin 4s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.pokemon-card {
  display: flex;
  justify-content: center;
  width: 20%;
  margin: 1% 0;
}

.pokemon-card .card-image {
  display: flex;
  justify-content: center;
  width: 100%;
}

.pokemon-card .card-image img {
    width: 90%;
}

@media (max-width: 1000px) {
  .pokemon-card {
    display: flex;
    justify-content: center;
    width: 30%;
    margin: 1% 0;
  }
  .search form {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
  }
  .search input[type=text] {
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 3rem;
  }
  .search button {
    width: 50%;
    height: 5vh;
    
  }
  .pokemon-card-container .loader { 
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20%;
    margin:-60px 0 0 -60px;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
  }
  @-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
  @-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
  @keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
}

@media (max-width: 800px) {
  .pokemon-card {
    display: flex;
    justify-content: center;
    width: 50%;
    margin: 1% 0;
  }
}

@media (max-width: 600px) {
  .pokemon-card {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 1% 0;
  }
}