

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("https://images.unsplash.com/photo-1462275646964-a0e3386b89fa?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTR8fGZsb3dlcnN8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
}

h1 {
  font-weight: 600;
  font-size: 100px;
  text-shadow: 3px 3px #a3a3c2;
}

button {
  font-size: 20px;
  background-color: #008CBA;
  border: 2px solid antiquewhite;
  border-radius: 30%;
  padding: 16px;
}

button:hover {
  background-color: azure;
}

img {
  height: 350px;
  width: 400px;
}