html {
  font-size: 82.5%;
 }
 
 html, body {
   height: 80%;
   width: 100%;
   margin: 20%;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
     'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
     sans-serif;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   background-image: linear-gradient(to bottom left, grey, lightgrey);
 }
 
 code {
   font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
     monospace;
 }
 
 header {
   margin: 10px;
   padding: 10px;
   font-size: 4rem;
   color: lightcyan;
   text-align: center;
 }