

body {
  background-image: url('https://i.pinimg.com/originals/20/80/e8/2080e81a1a69204dcfb95eb864d47e11.jpg');
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 500px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.character {
    width: 20%;
    text-align: center;
    margin: 40px;
    background: rgba(255, 255, 255, 0.3);
}