.header-container{
    display:flex;
    justify-content:space-around;
    align-items:center;
    width:100%;
    padding: 2rem 0;
    font-size:1.6rem;
    background-color:#373737;
    color:white;
    & h1{
        font-size:2.4rem;
    }
    & button{
        padding: .5rem 1.5rem;
        border:none;
        background-color:white;
        box-shadow:0 .5rem 1.2rem rgba(000,000,000,0.3);
        &:hover{
            cursor:pointer;
        }
    }
}