.App {
  text-align: center;
  margin: auto;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: "Holtwood One SC", serif;
}
li {
  list-style-type: none;

  border-radius: 9px;
  padding: 5px;
}
h2 {
  padding-top: 25px;
  background: #272c35;
  border: none;
  color: aliceblue;
  width: 40%;
  font-size: 30px;
  font-family: "Black Ops One", cursive;
}
img {
  width: 35%;
}
