

.App {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;


.houses-button-div {
  text-align: center;

  h2 {
    color:white;
    font-size: 2rem;
  }
}



}






/* Photo by Nik Shuliahin on Unsplash */