.App {
  width: 100%;  
  height: 700px;
  display: flex;
  justify-content: center;  
  background-image: url("./background.jpg");
  background-size: cover;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
}

.todo-main-div {
  margin-top: 30px;
  width: 40%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 50px;
  box-shadow: 0px 1px 6px -2px grey;
  

}

.header-div {
  width: 100%;
  height: 20%;
  text-align: center;
  /*background-color: rgb(71, 161, 250);*/
  background-color: #5f65e9;
  color: white;
}

.todo-list-div {
  display: flex;  
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 60%;
  /*background-color: rgb(243, 72, 89);*/
  background-image: linear-gradient(#e383b9, #5f65e9);
  color: white;  
  overflow: hidden;
}

.generator-button-div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 20%;
  /*background-color: rgb(71, 161, 250);*/
  background-color: #e383b9;
}

button {
  width: 188px;
  /*background: #5f65e9;*/
  background: linear-gradient(99.98deg, #5557fe -2.36%, #9555fe 103.67%);
  border-radius: 5px;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 3px;
  cursor: pointer;
  outline: none;
  border: none;
  padding: 10px;
  box-shadow: 0 3px 0 0 rgba(0, 0, 0, 0.507);
  margin: 35px;
  cursor: pointer;
}

button:hover {
  background: #5f65e9;
}


@media (max-width: 800px) {

  .App {
    width: 100%;  
    
    
  }

  .todo-main-div {   
    width: 60%;
         
  
  }

  .header-div {
    width: 100%;
        
  }

  .todo-list-div {   
    width: 100%;
    
    
  }

  .generator-button-div {    
    width: 100%;
    
    
  }

  button {
    width: 70%;
    
  }
  

  
 
}

@media (max-width: 500px) {
  .App {
    width: 100%;  
    
    
  }

  .todo-main-div {   
    width: 60%;
         
  
  }

  .header-div {
    width: 100%;
        
  }

  .todo-list-div {   
    width: 100%;
    
    
  }

  .generator-button-div {    
    width: 100%;
    
    
  }

  button {
    width: 80%;
    
  }
  


  
 
}

