.App {
  font-family: sans-serif;
  text-align: center;
}

.error {
  padding: 16px;
  background-color: #ffb7b7;
  color: red;
  border: solid 1px #f39595;
  border-radius: 4px;
  max-width: 700px;
  margin: 16px auto;
}

.card {
height: 200px;
width: 200px;
margin: 5%;
background-color: yellow;
}